p {
  margin: 0;
}

/* BELOW ARE COPIED FROM musicforprogramming.net */

.selected {
  color: #00303e;
  background: #0096c1; }

.white {
  color: #f8f8f2; }

.grey {
  color: #999999; }

.blue {
  color: #66d9ef; }

.green {
  color: #a6e22e; }

.orange {
  color: #fd971f; }

.fuschia {
  color: #ec007c; }

.yellow {
  color: #efe158; }

.purple {
  color: #ae81ff; }

@font-face {
  font-family: 'Conso';
  src: url("/fonts/Conso.woff") format("woff"), url("/fonts/Conso.ttf") format("truetype");
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: 'Conso';
  src: url("/fonts/Conso-Italic.woff") format("woff"), url("/fonts/Conso-Italic.ttf") format("truetype");
  font-style: italic;
  font-stretch: normal; }
article, details, footer, header, nav, section {
  display: block; }

ul, ol {
  margin: 0;
  padding: 0; }

nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  background: #00303e; }

body, button, input, select, textarea {
  font-family: 'Conso', Courier New, monospace;
  color: #f8f8f2; }

a {
  color: #ec007c;
  text-decoration: none; }

a:hover {
  background-color: #0096c1;
  color: #00303e; }

pre {
  display: inline-block;
  margin: 0;
  padding: 0; }

.container {
  display: block;
  overflow: hidden; }
  .container div {
    display: block; }

.pad {
  padding: 0 16px; }

.purple-link {
  color: #ae81ff; }
  .purple-link:hover {
    color: #00303e; }

.blue-link {
  color: #66d9ef; }
  .blue-link:hover {
    color: #00303e; }

.orange-link {
  color: #fd971f; }
  .orange-link:hover {
    color: #00303e; }

.fuschia-link {
  color: #ec007c; }
  .fuschia-link:hover {
    color: #00303e; }

.indent {
  display: block;
  padding-left: 33px; }

.string-indent {
  display: block;
  text-indent: -29px;
  padding-left: 58px; }

.oneliner {
  display: inline-block;
  max-height: 20px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  float: left;
  white-space: nowrap; }

.multi-column {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3; }

.rule {
  border-top: 2px dotted #999999;
  margin: 0; }

form {
  position: relative;
  pointer-events: none; }
  form input[type="image"] {
    pointer-events: all;
    cursor: pointer;
    opacity: 0;
    width: 146px;
    position: absolute;
    z-index: 1000; }

.fold {
  color: #00303e;
  background: #ae81ff; }

.noselect {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none; }

.playerControls {
  cursor: default; }
  .playerControls .active {
    color: #66d9ef;
    cursor: pointer; }

/*
	6 column system
	3 sizes: sm md lg
*/
@media (min-width: 0px) {
  .sm-l {
    float: left; }

  .sm-r {
    float: right; }

  .sm-n {
    float: none; }

  .sm-1 {
    width: 16.66%; }

  .sm-2 {
    width: 33.33%; }

  .sm-3 {
    width: 50.00%; }

  .sm-4 {
    width: 66.66%; }

  .sm-5 {
    width: 83.33%; }

  .sm-6 {
    width: 100.0%; }

  .multi-column {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1; } }
.sm-only {
  display: none; }

@media (max-width: 768px) {
  body {
    font-size: 16px;
    line-height: 20px; }

  .oneliner {
    max-height: 30px; }

  .sm-off {
    display: none; }

  .sm-only {
    display: inline; } }
@media (min-width: 769px) {
  .md-l {
    float: left; }

  .md-r {
    float: right; }

  .md-n {
    float: none; }

  .md-1 {
    width: 16.66%; }

  .md-2 {
    width: 33.33%; }

  .md-3 {
    width: 50.00%; }

  .md-4 {
    width: 66.66%; }

  .md-5 {
    width: 83.33%; }

  .md-6 {
    width: 100.0%; }

  .multi-column {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; } }
@media (min-width: 1024px) {
  .lg-l {
    float: left; }

  .lg-r {
    float: right; }

  .lg-n {
    float: none; }

  .lg-1 {
    width: 16.66%; }

  .lg-2 {
    width: 33.33%; }

  .lg-3 {
    width: 50.00%; }

  .lg-4 {
    width: 66.66%; }

  .lg-5 {
    width: 83.33%; }

  .lg-6 {
    width: 100.0%; }

  .multi-column {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; } }

/*# sourceMappingURL=style.css.map */
