@import "./variables.scss";

@font-face {
  font-family: "Conso";
  src: url("/fonts/Conso.woff") format("woff"),
    url("/fonts/Conso.ttf") format("truetype");
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Conso";
  src: url("/fonts/Conso-Italic.woff") format("woff"),
    url("/fonts/Conso-Italic.ttf") format("truetype");
  font-style: italic;
  font-stretch: normal;
}

body {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  background: $palette_dark_cyan;
  max-width: 100%;

  @media (max-width: $size_medium) {
    font-size: 16px;
    line-height: 20px;
  }
}

body,
button,
input,
select,
textarea,
code {
  font-family: "Conso", Courier New, monospace;
  color: $palette_dirty_white;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $palette_red;
}

button {
  color: $palette_blue;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

a:hover,
.selected,
button.link:hover {
  color: $palette_black !important;
  background-color: $palette_dark_blue;
}
