$palette_grey: #999;
$palette_dirty_white: #f8f8f2;
$palette_black: #00303e;
$palette_dark_cyan: #00303e;
$palette_dark_blue: #0096c1;

$palette_blue: #66d9ef;
$palette_purple: #ae81ff;
$palette_red: #ec007c;
$palette_orange: #fd971f;
$palette_yellow: #efe158;
$palette_green: #a6e22e;

$size_medium: 768px;
$size_large: 1024px;

$font_family: "Conso", Courier New, monospace;
$font_family_mono: "Conso", monospace;
